body {


}

nav{
  background-color: rgb(90, 71, 99);
}


#displayImages {
  display:inline-block;
  margin: 10px;
  width: 300px;
  vertical-align: top;
}
  

aside{
  display:inline-block;
  /*float: left;*/
  margin: 10px;
  width: 250px;
  border-style: solid;
  background-color: violet;
}

header{
  background-color: palegreen;

}



.liStoreDetails{
  
}

#logo{
  width: 200px;
  padding: 30px;
  /* padding-top: 30px;
  padding-right: 150;

  padding-bottom: 30px; */
}

#salmonTitle{
  font-size: 80px;
  font-family: 'Fredericka the Great';
  color:brown;
  padding-left: 130px;
 
  /* padding-bottom: 0px; */
  border-style: solid;
  /* padding-top: 50px; */
  /* float: right; */

}



footer{
background-color: steelblue;
}